<template name="post">
  <div class="post">
    <div class="post-header">
      <div class="user-picture" style="background-image: {{#with ownerImage}} url({{url}}) {{/with}}"></div>
      <div class="offset"></div>
      <div class="header-info">
        <a class="post-owner" href="{{pathFor route='profilePage' data=profilePathData}}">{{postOwner}}</a>
        <span class="post-time-created">{{timeFromNow createdAt}}</span>
      </div>
      {{#if isUserTheOwner}}
        <div class="ui dropdown link post-actions">
          <i class="icon chevron down"></i>
          <div class="menu">
            <a class="item delete-post-action">
              <i class="icon trash"></i> Delete
            </a>
          </div>
        </div>
      {{/if}}
    </div>
    <div class="post-image">
      {{#if Template.subscriptionsReady}}
        {{#with image}}
          {{> postImage}}
        {{/with}}
      {{/if}}
    </div>
    <div class="post-content">
      <span class="post-title">{{title}}</span>
    </div>
    <div class="post-footer">
      <a class="action-like {{hasLiked}}" href="">
        <i class="icon smile"></i>
      </a>
      <a class="post-likes" href="">{{numLikes}}</a>
      <a href="" class="action-comment {{hasCommented}}">
        <i class="icon comments outline"></i>
      </a>
      <a class="post-comments" href="">{{numComments}}</a>
    </div>
  </div>
</template>

<template name="postImage">
  <img src="{{url}}" alt="">
  <div class="image-loading">
    <div class="ui active inverted centered inline loader"></div>
  </div>
</template>
