<template name="postForm">
  <div class="post-form">
    <h3>New post</h3>
    <form class="ui form new-post-form">
      <div class="field">
        <input type="text" name="title" placeholder="Title">
      </div>
      <div class="field">
        <textarea class="content"></textarea>
      </div>
      <div class="field">
        <div class="post-form-dropzone" id="dropzone">
          Drop file(s) here to upload
          <input type="file" name="file" accept="image/*" class="input-file-upload">
          <a href="" class="ui button upload-file-button"><i class="icon photo"></i></a>
        </div>
      </div>
      <!-- <div class="field">
        <span class="file-upload-button">

          <label for="file"><i class="icon photo"></i></label>
        </span>
      </div> -->
      <button class="ui inverted green button right floated" type="submit">Post</button>
    </form>
  </div>
</template>
