.profile-page {
  .aside {
    width:250px;
    padding-right:50px;
    display:inline-block;
    padding-top:40px;
    .user-picture {
      width:200px;
      height:200px;
      background-image:url(http://semantic-ui.com/images/avatar2/large/matthew.png);
      background-size:cover;
      background-position:center;
      border-radius:5px;
      margin-bottom:10px;
    }
    .profile-actions {
      margin-top:10px;
      a {
        display:block;
        margin-bottom:5px;
      }
      .user-posts,
      .user-followers {
        color:#333333;
        font-weight:bold;
      }
      .user-followers {
        margin-bottom:15px;
      }
    }
  }
  .wall {
    display:inline-block;
    vertical-align:top;
    .post {
      padding:10px;
      border:1px solid rgba(34, 36, 38, 0.15);
      border-radius:5px;
      margin-bottom:30px;
      .post-title {
        text-align:center;
      }
    }
  }
}
