.profile-page {
  overflow:auto;
  position:relative;
  .aside {
    width:230px;
    float:left;
    padding-top:44px;
    overflow:auto;
    .user-picture {
      width:200px;
      height:200px;
      background-image:url(http://semantic-ui.com/images/avatar2/large/matthew.png);
      background-size:cover;
      background-position:center;
      border-radius:5px;
      margin-bottom:10px;
    }
    .profile-actions {
      margin-top:10px;
      a {
        display:block;
        margin-bottom:5px;
      }
      .user-posts,
      .user-followers {
        color:#333333;
        font-weight:bold;
      }
      .user-followers {
        margin-bottom:15px;
      }
      .user-follow-button {
        width:200px;
      }
    }
  }
  .wall {
    float:right;
    vertical-align:top;
    float:right;
    .posts-grid {
      .post-grid-gutter-sizer {
        width:2%;
      }
      .post {
        margin-bottom:2%;
        width:32%;
        @media screen and (max-width:1199px) {
          width:48%;
        }
        @media screen and (max-width:800px) {
          width:100%;
        }
        @media screen and (max-width:665px) {
          width:48%;
        }
        @media screen and (max-width:550px) {
          width:100%;
          border-radius:0;
          border:none;
          margin-bottom:8%;
        }
      }
    }
  }
  @media screen and (min-width:666px) {
    .aside {
      position:fixed;
    }
  }
  @media screen and (max-width:665px) {
    .aside {
      float:none;
      display:block;
      width:100%;
      padding-top:0;
      .user-picture {
        float:left;
        margin-right:50px;
      }
      .user-info {
        // float:left;
      }
      .profile-actions {
        // float:left;
      }
    }
    .wall {
      display:block;
      width:100%;
      float:none;
    }
  }
}
