<template name="signup">
  <div class="signup">
    <h2>Sign up</h2>
    <form class="ui form signup-form">
      <div class="two fields">
        <div class="field">
          <input type="text" name="firstName" placeholder="First Name">
        </div>
        <div class="field">
          <input type="text" name="lastName" placeholder="Last Name">
        </div>
      </div>
      <div class="field">
        <input type="text" name="username" placeholder="Username">
      </div>
      <div class="field">
        <input type="text" name="email" placeholder="Email">
      </div>
      <div class="field">
        <input type="password" name="password" placeholder="Password">
      </div>
      <!-- <div class="field">
        <input type="password" name="confirmPassword" placeholder="Confirm Password">
      </div> -->
      <button class="ui button right floated" type="submit">Sign up</button>
    </form>
  </div>
</template>
